{% extends 'base/base.html' %}

{% block title %}

<title>Placeholder</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li>Placeholder</li>
		<li class="active">Placeholder</li>
	</ol>

	<!-- Article main content -->
	<article class="col-xs-12 maincontent">
		<header class="page-header">
			<h1 class="page-title">Placeholder</h1>
		</header>
		
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					Placeholder: {{ user.first_name }}<br>
					Test Field: {{ user.test_field }}<br>
					<h3 class="thin text-center">Test Field</h3>
					<p class="text-center text-muted">Vous avez déjà un compte? <a href="{% url 'account_sign_in' %}">Connectez-vous</a></p>
					<hr>

					<form action="" method="post">
						{% include "base/base_form.html" %}
						<hr>
						<div class="row">
							<div class="col-lg-12 text-right">
								<button class="btn btn-action" type="submit">Inscription</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 text-left">
				<form action="{% url 'profile_update' %}">
					<button class="btn btn-action" type="submit">Placeholder</button>
				</form>
			</div>
			<div class="col-lg-6 text-right">
				<form>
					<button class="btn btn-action" type="submit">Placeholder</button>
				</form>
			</div>
		</div>
		
	</article>
	<!-- /Article -->

</div>	<!-- /container -->

{% endblock %}
