{% extends 'base/base.html' %}
{% load static %}

{% block title %}

<title>Bar</title>

{% endblock %}


{% block style %}

<link rel="stylesheet" href="{% static 'studios/css/slider.css' %}"/>

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Accueil</a></li>
    <li class="active">Bar</li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <!-- Article -->
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">Bar</h1>
      </header>
    </article>
  </div>
</div>

<!-- container -->
<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-6">
			<a class="navbar-brand" href="https://www.brasseriedesutter.com/" target="_blank" rel="noopener"><img src="../../static/studios/images/De_Sutter.png" text-center></a>
		</div>
		<div class="col-sm-6">
			<p><img src="../static/studios/images/mac.jpg" alt="presentation_studios"></p>
		</div>
	</div> <!-- /row -->
</div>	<!-- /container -->

<div class="container">
  <p>Depuis de nombres années, le Covent Garden Studios fait confiance à la <a href="http://www.brasseriedesutter.com/" target="_blank" rel="noopener">Brasserie De Sutter</a> pour leur fournir une bière artisanale de qualité.</p>
  <p>La Brasserie De Sutter est fondée par deux frères, Antoine et Frédéric, passionnés par la bière et par sa fabrication. En 2008, ils se lancent dans des tests de création de recettes et suite à l’obtention de leurs diplômes en agronomie ainsi qu’en brasserie, les premières bières voient le jour. Rapidement confortés par la qualité de leurs produits, les brasseurs installent une unité de production artisanale de 800 litres.</p>  
  <p>En janvier 2012, c’est le grand saut vers une fabrication maîtrisée et de plus grosse capacité grâce au déménagement de la Brasserie De Sutter à Gisors dans des locaux plus grands avec du matériel de brassage neuf et performant.</p>
  <br>
</div>

<!-- Swiper -->
  <!-- container -->

<div class="container">
  <div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="carousel-container">
          <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-ambree-rousse-dement-bree.png" alt="Dément'brée"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-blanche-givree_1.png" alt="Givrée"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-blonde-brin-de-folie.png" alt="Brin de Folie"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-sombre-folle-brune.png" alt="Folle Furieuse"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-fruits-rouges-folle-des-bo.png" alt="Folle des bois"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-ipa-crazy-indian-pale-ale.png" alt="Crazy - IPA"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-sombre-folle-brune.png" alt="Sombre Folle"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-zinzin-quadruple-fermentat.png" alt="Zin Zin"></swiper-slide>
            <swiper-slide><img src="../static/studios/images/biere-artisanale-folies-de-sutter-ictis.jpg" alt="Ictis - Bio"></swiper-slide>
            <div class="autoplay-progress" slot="container-end"></div> <!-- ??? -->
          </swiper-container>
        </div>
      </div>
    </article>
    <!-- /Article -->
  </div>
</div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script src="../static/studios/js/slider.js"></script>

{% endblock %}
