{% extends 'base/base.html' %}
{% load static %}

{% block title %}

<title>Bar</title>

{% endblock %}


{% block style %}

<link rel="stylesheet" href="{% static 'studios/css/slider.css' %}"/>
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Accueil</a></li>
    <li class="active">Bar</li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <!-- Article -->
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">Bar</h1>
      </header>
    </article>
  </div>
</div>

<!-- container -->
<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-6">
			<a class="navbar-brand"><img src="../../static/studios/images/De_Sutter.png" text-center></a>
		</div>
		<div class="col-sm-6">
			<p><img src="../static/studios/images/mac.jpg" alt="presentation_studios"></p>
		</div>
	</div> <!-- /row -->
</div>	<!-- /container -->

<div class="container">
  <p>Depuis de nombres années, le Covent Garden Studios fait confiance à la <a href="http://www.brasseriedesutter.com/" target="_blank" rel="noopener">Brasserie De Sutter</a> pour leur fournir une bière artisanale de qualité.</p>
  <p>La Brasserie De Sutter est fondée par deux frères, Antoine et Frédéric, passionnés par la bière et par sa fabrication. En 2008, ils se lancent dans des tests de création de recettes et suite à l’obtention de leurs diplômes en agronomie ainsi qu’en brasserie, les premières bières voient le jour. Rapidement confortés par la qualité de leurs produits, les brasseurs installent une unité de production artisanale de 800 litres.</p>  
  <p>En janvier 2012, c’est le grand saut vers une fabrication maîtrisée et de plus grosse capacité grâce au déménagement de la Brasserie De Sutter à Gisors dans des locaux plus grands avec du matériel de brassage neuf et performant.</p>
  <br>
</div>

<!-- Demo styles -->
<style> 
.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}
  
.swiper-slide {
background-position: center;
background-size: cover;
width: 240px;
height: 240px;
}
  
.swiper-slide img {
display: block;
width: 100%;
}
</style>
  
<div class="container">
	<div class="row">
	<!-- Article main content -->
	<!-- Swiper -->
	<div class="swiper mySwiper">
	  	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-ambree-rousse-dement-bree.png" alt="Dément'brée">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-blanche-givree_1.png" alt="Givrée">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-blonde-brin-de-folie.png" alt="Brin de Folie">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-sombre-folle-brune.png" alt="Folle Furieuse">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-fruits-rouges-folle-des-bo.png" alt="Folle des bois">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-ipa-crazy-indian-pale-ale.png" alt="Crazy - IPA">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-zinzin-quadruple-fermentat.png" alt="Zin Zin">
		</div>
		<div class="swiper-slide">
			<img src="../static/studios/images/biere-artisanale-folies-de-sutter-ictis.jpg" alt="Ictis - Bio">
		</div>
		</div>
	</div>
	</div>
<!-- /Article -->
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../static/studios/js/slider_bar.js"></script>

{% endblock %}
