{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="">
	
	<!-- Title -->
	{% block title %}{% endblock %}

	<!-- Styles -->
	<link rel="shortcut icon" href="{% static 'listings/images/gt_favicon.png' %}">
	
    <link rel="stylesheet" href="{% static 'listings/css/familyOpenSans.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'listings/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'listings/css/font-awesome.min.css' %}"/>

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'listings/css/bootstrap-theme.css' %}" media="screen"/>
	<link rel="stylesheet" href="{% static 'listings/css/main.css' %}"/>
	{% block style %}{% endblock %}

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'listings/js/html5shiv.js' %}"></script>
	<script src="{% static 'listings/js/respond.min.js.css' %}"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				
				<!-- Home navigation bar button -->
				<a class="navbar-brand" href="{% url 'home' %}"><img id="navbar-logo" src="{% static 'listings/images/logo.png' %}"></a>
			</div>

			<!-- Navbar collapse -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<!-- Link(s) -->
					<li><a href="{% url 'home' %}">Accueil</a></li>
					<li><a href="{% url 'news' %}">Actualités</a></li>
					<li><a href="{% url 'studios' %}">Studios</a></li>
					<li><a href="{% url 'bar' %}">Bar</a></li>
					<li><a href="{% url 'pro_area' %}">Espace Pro</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
					<li><a href="{% url 'booking' %}">Réservation</a></li>

					<!-- Button(s) -->
					{% if user.is_authenticated %}
						<li><a class="btn" href="{% url 'account' %}">MON COMPTE</a></li>
					{% else %}
						<li><a class="btn" href="{% url 'sign_in' %}">CONNEXION / INSCRIPTION</a></li>
					{% endif %}
					
					<!-- Dropdown -->
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu"> -->
							<!-- Add list of links -->
							<!-- <li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li><a href="sidebar-right.html">Right Sidebar</a></li>
						</ul> -->
					<!-- </li> /.dropdown -->
				</ul>

			</div> <!--/.nav-collapse -->
		</div>
	</div> <!-- /.navbar -->


	{% block header %}{% endblock %}
	{% block content %}{% endblock %}


	<!-- Social links. @TODO: replace by link/instructions in template -->
	<!-- <section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				AddThis Button BEGIN
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				AddThis Button END
			</div>
		</div>
	</section> -->
	<!-- /.social links -->


	<!-- Footer -->
	<footer id="footer" class="top-space">
		<!-- Footer 1 -->
		<div class="footer1">
			<div class="container">
				<!-- Row of widgets -->
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>
								Téléphone : <a href="tel:0130365291">01 30 36 52 91</a><br>
								E-mail : <a href="mailto:#">contact@coventgarden.fr</a>
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Adresse</h3>
						<div class="widget-body">
							<p>	
								1 rue du bouvreuil,<br>
								Parc d'activité de la Danne<br>
								95610 Eragny-sur-Oise
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Horaires</h3>
						<div class="widget-body">
							<p>
								Lundi - Vendredi : 16h - 00h<br>
								Samedi : 10h - 18h<br>
								Dimanche : 13h - 21h<br>
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Réseaux sociaux</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a target="_blank" href="https://www.youtube.com/user/CoventGardenStudio"><i class="fa fa-youtube-play fa-2"></i></a>
								<a target="_blank" href="https://www.facebook.com/CGS95"><i class="fa fa-facebook fa-2"></i></a>
								<a target="_blank" href="https://www.instagram.com/coventgardenstudios/"><i class="fa fa-instagram fa-2"></i></a>
								<a target="_blank" href=""><i class="fa fa-twitter fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /.Row of widgets -->
			</div>
		</div> <!-- /.Footer 1 -->
		
		<!-- Footer 2 -->
		<div class="footer2">
			<div class="container">
				<!-- Row of widgets -->
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{% url 'home' %}">Accueil</a> /
								<a href="{% url 'news' %}">Actualités</a> /
								<a href="{% url 'studios' %}">Studios</a> /
								<a href="{% url 'bar' %}">Bar</a> /
								<a href="{% url 'pro_area' %}">Espace Pro</a> /
								<a href="{% url 'contact' %}">Contact</a> /
								<a href="{% url 'booking' %}">Réservation</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2023 Covent Garden Studios - Musican theme by FilaThemes</a> 
							</p>
						</div>
					</div>

				</div> <!-- /.Row of widgets -->
			</div>
		</div>
	</footer> <!-- /.Footer 2 -->
	
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'listings/js/jquery.min.js' %}"></script>
	<script src="{% static 'listings/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'listings/js/headroom.min.js' %}"></script>
	<script src="{% static 'listings/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'listings/js/template.js' %}"></script>
</body>
</html>