{% extends 'base/base.html' %}
{% load static %}

{% block title %}

<title>Concert</title>

{% endblock %}


{% block style %}

<link rel="stylesheet" href="{% static 'studios/css/concert.css' %}"/>

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- Container -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li class="active">Concert</li>
	</ol>
</div> <!-- /Container -->

<div class="container">
	<div class="row">
		<article class="col-sm-8 maincontent">
			<header class="page-header">
				<h1 class="page-title">Concert</h1>
			</header>
		</article>
	</div>

	<div class="row">
		<div id="calendar"></div>
	</div>
</div> <!-- /Container -->


{% endblock %}


{% block scripts %}

<!-- External JavaScript dependencies -->
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js'></script>

<!-- Custom JavaScript file -->
<script src="{% static 'studios/js/concert.js' %}"></script>


{% endblock %}