{% extends 'base/base.html' %}
{% load static %}

<!-- Insert title -->
{% block title %}

<title>Concert</title>

{% endblock %}



<!-- Insert main header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Insert content -->
{% block content %}

<!-- Container -->
<div class="container">

	<!-- Breadcrumb -->
	<ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li class="active">Concert</li>
	</ol> <!-- /Breadcrumb -->

	<!-- Main content -->
	<div class="row">

		<!-- Article -->
		<article class="col-sm-12 maincontent">

			<!-- Header -->
			<header class="page-header">
				<h1 class="page-title">Concert</h1>
		  	</header>

            <!-- Content 1 -->
			<div class="row">
				<div id="calendar"></div>
			</div>
	
		</article> <!-- /Article -->
	
	</div> <!-- /Main content -->

</div> <!-- /Container -->

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

	<link rel="stylesheet" href="{% static 'studios/css/concert.css' %}"/>

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

	<script src="{% static 'studios/js/concert.js' %}"></script>

	<!-- External JavaScript dependencies -->
	<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/index.global.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/index.global.min.js'></script>

{% endblock %}
