{% extends 'base/base.html' %}
{% load static %}

{% block title %}

<title>Contact</title>

{% endblock %}


{% block style %}

<link rel="stylesheet" href="{% static 'studios/css/contact.css' %}"/>

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li class="active">Contact</li>
    </ol>

</div> <!-- /container -->

<div class="container">
	<div class="row">
		<article class="col-sm-8 maincontent">
			<header class="page-header">
				<h1 class="page-title">Contact</h1>
			</header>
		</article>
</div>

<!-- container -->
<div class="stud">

    <div class="studss">
        <div class="button">
    <a class="btn btn-action btn-lg" href="{% url 'placeholder' %}" role="button">Réserver un studio</a>
        </div>
</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="horaires">
					<h2>Horaires :</h2><br>
					<table class="table-center">
					<tbody>
						<tr>
							<td>Lundi - Vendredi</td>
							<td>16h00 -  </td>
							<td>00h00</td>
						</tr>
						<tr>
							<td>Samedi *</td>
							<td>10h00 - </td>
							<td>18h00</td>
						</tr>
						<tr>
							<td>Dimanche</td>
							<td>13h00 - </td>
							<td>21h00</td>
						</tr>
					</tbody>
					</table>
					<br>
					<p>*Ouverture jusqu'à minuit les soirs de concerts <!-- lien page deconcert-->.</p>
    			</div>
			</div>
			<div class="col-sm-6">
				<h2>Studios de répétition</h2><br>
				<div>
                    E-Mail : 
                    <a href="mailto:contact@coventgarden.fr">contact@coventgarden.fr</a>
                    <br>
                    Tel : <a href="tel:0130365291">01 30 36 52 91</a>
                </div>
			</div>
		</div>
	</div>	
</div>

<div class="stud">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div>
					<h2>Adresse :</h2><br>
					<p>
						<a href="https://goo.gl/maps/xwy7vnXwuFTFXfJA8" target="_blank">
							1 Rue du Bouvreuil,<br>
							Parc d'activité de la Danne<br>
							95610, Eragny-sur-Oise
						</a>
					</p>
    			</div>
			</div>
			<div class="col-sm-6">
				<h2>Programmation</h2><br>
				<div>
                    E-Mail : 
                    <a href="progra@coventgarden.fr">progra@coventgarden.fr</a>
                    <br>
                </div>
			</div>
		</div>
	</div>	
</div>

<div class="studss">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="horaires">
					<h2>Accès :</h2><br>
					<div class="access">
                        <ul>
                            <li>Voiture : A proximité de la N184 et A15</li>
                            <li>RER A, arrêt Cergy-Préfecture ou Neuville Université</li>
                            <li>Transilien ligne J, arrêt Eragny-Neuville</li>
                            <li>Bus : ligne 49 Cergy Préfecture RER / Neuville Université RER, arrêt écluse</li>
                        </ul>
                    </div>
    			</div>
			</div>
			<div class="col-sm-6">
				<h2>Autres questions</h2><br>
				<div>
                    E-Mail : 
                    <a href="progra@coventgarden.fr">progra@coventgarden.fr</a>
                    <br>
                    Tel : <a href="tel:0130365291">01 30 36 52 91</a>
                </div>
			</div>
		</div>
	</div>	
</div>

<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d125603.48773383588!2d2.176306205946799!3d48.95927429137867!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6f5531a0bd495%3A0xc89a34ac7b94d4e9!2sCovent%20Garden%20Studios!5e0!3m2!1sfr!2sfr!4v1687936492555!5m2!1sfr!2sfr" width=100% height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div> <!-- /row -->
</div>	<!-- /container -->


</div>
{% endblock %}