{% extends 'base.html' %}

{% block title %}

<title>Actualités</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li class="active">Actualités</li>
    </ol>

</div> <!-- /container -->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v17.0" nonce="zefN5tA6"></script>

<div class="fb-page" data-href="https://www.facebook.com/CGS95/" data-tabs="timeline" data-width="500" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CGS95/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CGS95/">Covent Garden Studios</a></blockquote></div>
{% endblock %}
