{% extends 'base.html' %}

{% block title %}

<title>Mot de passe modifié</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li>Compte</li>
		<li>Mot de passe oublié</li>
		<li>Modification du mot de passe</li>
		<li class="active">Confirmation</li>
	</ol>

	<div class="row">
		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Mot de passe modifié</h1>
			</header>
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						Vous venez de changez votre mot de passe.<br>
						Cliquez <a href="{% url 'sign_in' %}">ici</a> pour vous connecter!
					</div>
				</div>
			</div>
		</article>
		<!-- /Article -->
	</div>

</div>	<!-- /container -->

{% endblock %}
