{% extends 'base.html' %}

{% block title %}

<title>Compte</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li class="active">Compte</li>
	</ol>

	<!-- Article main content -->
	<article class="col-xs-12 maincontent">
		<header class="page-header">
			<h1 class="page-title">Mon Compte</h1>
		</header>
		
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					Nous venons de vous envoyer un e-mail pour modifier votre mot de passe!<br>
					Vous devriez le recevoir sous peu.
				</div>
			</div>
		</div>
		
	</article>
	<!-- /Article -->

</div>	<!-- /container -->

{% endblock %}
