{% extends 'base/base.html' %}
{% load static %}

<!-- Insert title -->
{% block title %}

<title>Paiement accompte</title>

{% endblock %}



<!-- Insert main header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Insert content -->
{% block content %}

<head>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<!-- Container -->
<div class="container">

	<!-- Breadcrumb -->
	<ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li>Réservation</li>
		<li class="active">Paiement accompte</li>
	</ol> <!-- /Breadcrumb -->

	<!-- Main content -->
	<div class="row">

		<!-- Article -->
		<article class="col-sm-12 maincontent">

			<!-- Header -->
			<header class="page-header">
				<h1 class="page-title">Paiement accompte</h1>
			</header>
			
            <!-- Content 1: Form -->
			<form  action="{% url 'payment' %}" method="POST">
				<div class="justifie">
					<p>ATTENTION : Une session réservée ne pourra être annulée 48h à l'avance</p>
					<p>Le paiment en ligne ne représente que la moitié du tarif total. Le reste sera payé le jour J, sur place.</p>
				</div>
				{% csrf_token %}
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<!-- Title / Text -->
							<h3 class="thin text-center">Paiement accompte</h3>
							<p class="text-center text-muted">Nous demandons le paiement d’un acompte pour la réservation.</p>

							<hr>

							<!-- Include form(s) here -->
							{% include "base/base_form.html" %}
                            <input type="hidden" name="salle_id" value="{{ salle.id }}">
                            <input type="hidden" name="user_id" value="{{ user.id }}">

							<hr>

							<!-- Button(s) -->
							<div class="row">
								<!-- Confirm -->
								<div class="col-lg-12 text-right">
									<form action="{% url 'payment' %}" method="POST">
										{% csrf_token %}
										<button class="btn btn-success" type="submit" id="checkout-button">Confirmer</button>
									  </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
	
		</article> <!-- /Article -->

	</div> <!-- /Main content -->

</div> <!-- /Container -->
<div class="justifie">
	<h1>Conditions générales de vente</h1>
	<p>Objet du Site: Le Site propose un service de location de studios, permettant aux Utilisateurs de consulter des annonces, de réserver un studio et de procéder au paiement en ligne.</p>
	<p>Réservation et paiement : Disponibilité des studios : Les studios proposés sur le Site sont soumis à disponibilité. Les Utilisateurs peuvent consulter les dates de disponibilité et effectuer une réservation en ligne. Tarifs et paiement : Les tarifs de location des studios sont indiqués sur le Site et sont susceptibles de varier en fonction de la période et de la durée de la réservation. Les Utilisateurs sont tenus de régler le montant total de la réservation au moment de la confirmation, selon les modes de paiement proposés sur le Site.</p>
	<p>Annulation et remboursement : Annulation par l'Utilisateur : En cas d'annulation de la réservation par l'Utilisateur, les conditions d'annulation spécifiées sur le Site s'appliquent et peuvent entraîner des frais d'annulation. Annulation par le Site : Le Site se réserve le droit d'annuler une réservation en cas de force majeure ou si les conditions de location ne sont pas respectées. En cas d'annulation par le Site, un remboursement intégral sera effectué.</p>
	<p>Responsabilités : Responsabilité du Site : Le Site s'engage à fournir des informations claires et précises sur les studios proposés. Toutefois, le Site ne peut être tenu responsable des erreurs ou omissions dans les annonces, ni de toute conséquence résultant de l'utilisation du Site.</p>
	<p>Protection des données personnelles : Le Site collecte et traite les données personnelles des Utilisateurs conformément à sa Politique de Confidentialité. Les Utilisateurs peuvent consulter cette politique pour plus d'informations sur la collecte, l'utilisation et la protection de leurs données personnelles.</p>
	<p>Propriété intellectuelle : Tous les contenus présents sur le Site, y compris les textes, images, logos, sont la propriété intellectuelle du Site et sont protégés par les lois en vigueur. Toute reproduction, modification ou utilisation des contenus sans autorisation préalable est strictement interdite.</p>
	<p>Modifications des CGV : Le Site se réserve le droit de modifier les présentes CGV à tout moment, sans préavis. Les Utilisateurs seront informés des modifications par le biais du Site. Il est recommandé aux Utilisateurs de consulter régulièrement les CGV pour être tenus informés des éventuelles modifications.</p>
	<p>Loi applicable et juridiction compétente : Les présentes CGV sont soumises à la loi applicable du pays où est enregistré le Site. En cas de litige, les tribunaux compétents du lieu où est enregistré le Site seront seuls compétents.</p>
</div>
{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

	<link rel="stylesheet" href="{% static 'studios/css/booking.css' %}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}
<script src="{% static 'studios/js/payment.js' %}"></script>
<script>

	
	window.addEventListener('DOMContentLoaded', function() {
		$('#id_name').val("{{user.username}}");
		$('#id_email').val("{{user.email}}");
		$('#id_salle').val("{{salle.name}}");
		$('#id_duration').val("{{duration}}");
		$('#id_date_start').val("{{ start_date|date:'Y-m-d H:i:s' }}");
		$('#id_date_end').val("{{ end_date|date:'Y-m-d H:i:s' }}");
		$('#id_price').val("{{price}}");
		var form = document.querySelector('form');
		if (form) {
			var inputs = form.querySelectorAll('input');
			inputs.forEach(function(input) {
			input.setAttribute('readonly', 'readonly');
			});
		}
	});
</script>
{% endblock %}
