{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1: Buttons -->
<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<!-- Left -->
			<div class="col-lg-6 text-left">
				<form action="{% url 'groups_create' %}">
					<button class="btn btn-action">Créer un groupe</button>
				</form>
			</div>

			<!-- Right -->
			<div class="col-lg-6 text-right">
				<form action="{% url 'pro_area' %}">
					<button class="btn btn-action">Programmer un concert*</button>
					<p>* Voir <a href="{% url 'placeholder' %}">Actualités</a></p>
				</form>
			</div>
		</div>

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

<!-- Content 2: Technical sheet -->
<div class="stud">
	<div class="row">
		<h2 class="ft">Programmer un concert FreeFriday</h2>
		<form method="post" class="custom-form">
			<p>Formulaire de demande de Concert </p>
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="custom-button">
				Envoyer
			</button>
		</form>
	</div>
</div>

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

<link rel="stylesheet" href="{% static 'studios/css/espace-pro.css' %}"/>
<link rel="stylesheet" href="{% static 'studios/css/news.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

<script src="{% static 'studios/js/animation.js' %}"></script>

{% endblock %}
