{% extends 'base.html' %}

{% block title %}

<title>S'inscrire</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li>Compte</li>
		<li class="active">Création de compte</li>
	</ol>

	<div class="row">
		
		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Inscription</h1>
			</header>
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Créer un compte</h3>
						<p class="text-center text-muted">Vous avez déjà un compte? <a href="{% url 'sign_in' %}">Se connecter</a></p>
						<hr>

						<form action="" method="post">
							{% csrf_token %}
							{% for field in form %}
								<div class="top-margin">
									{{ field.errors }}
									<label>{{ field.label }} <span class="text-danger">*</span></label>
									{{ field }}
								</div>
							{% endfor %}

							<!-- <div class="top-margin">
								{{ form.email.errors }}
								<label>Adresse e-mail <span class="text-danger">*</span></label>
								{{ form.email }}
							</div>

							<div class="row top-margin">
								<div class="col-sm-6">
									{{ form.password.errors }}
									<label>Mot de passe <span class="text-danger">*</span></label>
									{{ form.password }}
								</div>
								<div class="col-sm-6">
									{{ form.confirm_password.errors }}
									<label>Confirmer le mot de passe <span class="text-danger">*</span></label>
									{{ form.confirm_password }}
								</div>
							</div> -->

							<hr>

							<div class="row">
								<!-- <div class="col-lg-8">
									<label class="checkbox">
										<input type="checkbox"> 
										J'ai lu et j'accepte <a href="page_terms.html">les conditions d'utilisations</a>
									</label>                        
								</div> -->

								<div class="col-lg-12 text-right">
									<button class="btn btn-action" type="submit">Inscription</button>
								</div>
							</div>
							
						</form>
					</div>
				</div>

			</div>
			
		</article>
		<!-- /Article -->

	</div>
</div> <!-- /container -->

{% endblock %}
