{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1 -->

{% if messages %}
<div class="alert alert-success" role="alert">
	{% for message in messages %}
		{{ message }}
	{% endfor %}
</div>
{% endif %}

<div class="container">
	<table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
		<thead>
			<tr>
				<th>Date début</th>
				<th>Date fin</th>
				<th>Durée</th>
				<th>Salle réservée</th>
				<th>Montant payé</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>{{ reservation.date_start|date:"Y-m-d H:i:s" }}</td>
					<td>{{ reservation.date_end|date:"Y-m-d H:i:s" }}</td>
					<td>{{ reservation.duration }} H</td>
					<td>{{ reservation.salle.name }}</td>
					<td>{{ reservation.price }} £</td>
					<td>
						<a href="{% url 'set_reservation' reservation.id %}" class="{% if reservation.is_active %}btn btn-danger{% else %}btn btn-success{% endif %}">
							{% if reservation.is_active %} Annuler {% else %} Activer {% endif %}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.bootstrap5.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>
<script>
	$(document).ready(function() {
		$('#myTable').DataTable();
	});
</script>

{% endblock %}
