{% extends 'base/base.html' %}

{% block title %}

<title>Validation de la demande</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- Container -->
<div class="container">

	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li><a href="{% url 'profile_detail' %}">Compte</a></li>
		<li><a href="{% url 'password_reset_forgot' %}">Mot de passe oublié</a></li>
		<li class="active">Envoi</li>
	</ol> <!-- /Breadcrumb -->

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">

			<!-- Header -->
			<header class="page-header">
				<h1 class="page-title">Validation de la demande</h1>
			</header> <!-- /Header -->

			<!-- Panel -->
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<!-- Text -->
						Nous venons de vous envoyer un e-mail pour modifier votre mot de passe!<br>
						Vous devriez le recevoir sous peu.
					</div>
				</div>
			</div> <!-- /Panel -->

		</article> <!-- /Article -->

	</div>

</div> <!-- /Container -->

{% endblock %}
