{% extends 'base/base.html' %}

{% block title %}

<title>Créer un compte</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- Container -->
<div class="container">

	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li>Compte</li>
		<li class="active">Inscription</li>
	</ol> <!-- /Breadcrumb -->

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">

			<!-- Header -->
			<header class="page-header">
				<h1 class="page-title">Créer un compte</h1>
			</header>

			<!-- Form -->
			<form method="post">
				{% csrf_token %}
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<!-- Title / Text -->
							<h3 class="thin text-center">Nouveau compte</h3>
							<p class="text-center text-muted">Vous avez déjà un compte? <a href="{% url 'account_sign_in' %}">Cliquez ici</a></p>

							<hr>

							<!-- Include form(s) here -->
							{% include "base/base_form.html" %}

							<hr>

							<!-- Button(s) -->
							<div class="row">
								<!-- Confirm -->
								<div class="col-lg-12 text-right">
									<button class="btn btn-action" type="submit">Confirmer</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form> <!-- /Form -->

		</article> <!-- /Article -->

	</div>

</div> <!-- /Container -->

{% endblock %}
