.fc .fc-timegrid-slot {
    border-bottom: 0px;
    height: 4.5em;
}

.fc-v-event .fc-event-title{
    text-align: center;
    font-weight: bold;
}

.fc-timegrid-event .fc-event-time{
    padding-top: 4px;
    text-align: center;
}

.fc .fc-toolbar-title{
    font-size: 1.25em;
}

/* couleur fond */
.custom-event {
    
    
    background-color: rgb(103, 198, 72) !important; /* Remplacez par la couleur souhaitée */
  }
  

.modal-content{
    background-color: black;
    border-color: white;
}