/* Ligne entre les studios */ 

.stud {
border-top: 3px solid #c3b988;
padding-bottom: 25px;
margin-bottom: 20px;
  margin-top: 75px;
text-align: center;
}

.blancblanc {
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}


.freefriday{
  background-image: url('../images/concert.jpeg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.paragraphesff {
  font-size: 21px;
  margin: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: white;
}


