{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1 -->

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

{% endblock %}
