{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1: Text -->
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul>
				{% for group in my_groups %}
				<li>
					<a href="{% url 'groups_update' group.id %}">{{ group.name }}</a>
					- <a href="{% url 'groups_update' group.id %}">[Modifier]</a>
					- <a href="{% url 'groups_delete' group.id %}">[Supprimer]</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>				
</div>

<!-- Button(s) -->
<div class="row">
	<!-- Left -->
	<div class="col-lg-6 text-left">
		<form action="{% url 'groups_create' %}">
			<button class="btn btn-action">Créer un groupe</button>
		</form>
	</div>

	<!-- Right -->
	<div class="col-lg-6 text-right">
		<form action="{% url 'placeholder' %}">
			<button class="btn btn-action">Placeholder</button>
		</form>
	</div>
</div>

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

{% endblock %}
