{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1: Form (Upload files: enctype="multipart/form-data") -->
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- Title / Text -->
				<h3 class="thin text-center">Changer les informations</h3>
				<p class="text-center text-muted">Vous voulez retourner à la liste des groupes? <a href="{% url 'groups_detail' %}">Cliquez ici</a></p>

				<hr>

				<!-- Include form(s) here -->
				{% include "base/base_form.html" %}

				<hr>

				<!-- Button(s) -->
				<div class="row">
					<!-- Left: Redirect -->
					<div class="col-lg-6 text-left">
						<button class="btn btn-action" type="button" onclick="window.location.href='{% url 'groups_detail' %}'">Annuler</button>
					</div>

					<!-- Right: Confirm -->
					<div class="col-lg-6 text-right">
						<button class="btn btn-action" type="submit">Confirmer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

{% endblock %}
