{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="">
	
	<!-- Title -->
	<title>{{title}}</title>

	<!-- Styles -->
	<link rel="shortcut icon" href="{% static 'studios/images/cgs-icon.jpg' %}">
	
    <link rel="stylesheet" href="{% static 'studios/css/familyOpenSans.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'studios/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'studios/css/font-awesome.min.css' %}"/>

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'studios/css/bootstrap-theme.css' %}" media="screen"/>
	<link rel="stylesheet" href="{% static 'studios/css/main.css' %}"/>
	{% block style %}{% endblock %}

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'studios/js/html5shiv.js' %}"></script>
	<script src="{% static 'studios/js/respond.min.js.css' %}"></script>
	<![endif]-->
</head>

<body class="home">

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">

			<!-- Header -->
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				
				<!-- Home navigation bar button -->
				<a class="navbar-brand" href="{% url 'home' %}"><img id="navbar-logo" src="{% static 'studios/images/logo.png' %}"></a>
			</div>

			<!-- Collapse -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">

					<!-- Link(s) -->
					<li><a href="{% url 'home' %}">Accueil</a></li>
					<li><a href="{% url 'news' %}">Actualités</a></li>
					<li><a href="{% url 'studios' %}">Studios</a></li>
					<li><a href="{% url 'concert' %}">Concert</a></li>
					<li><a href="{% url 'bar' %}">Bar</a></li>
					<li><a href="{% url 'booking' %}">Réservation</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
					<li><a href="{% url 'eula' %}">CGU</a></li>

					<!-- Button(s) -->
					{% if user.is_authenticated %}
						<!-- Dropdown -->
						<li class="dropdown">
							<a class="btn" href="#" class="dropdown-toggle" data-toggle="dropdown">MON COMPTE <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'profile_detail' %}">Profil</a></li>
								<li><a href="{% url 'groups_detail' %}">Mes groupes</a></li>
								<li><a href="{% url 'bookings_detail' %}">Mes réservations</a></li>
								<li><a href="{% url 'pro_area' %}">Espace Pro</a></li>
								<li><a href="{% url 'account_log_out' %}">Déconnexion</a></li>
							</ul>
						</li> <!-- /Dropdown -->

					{% else %}
						<li><a class="btn" href="{% url 'account_sign_in_form' %}">CONNEXION / INSCRIPTION</a></li>

					{% endif %} <!-- /Button(s) -->

				</ul>
			</div> <!-- /Collapse -->

		</div>
	</div> <!-- /Navbar -->



	<!-- Header -->
	{% block header %}{% endblock %}

	<!-- Container -->
	<div class="container">
		<!-- Breadcrumb -->
		{% include 'base/base_breadcrumb.html' %}

		<!-- Main content-->
		<div class="row">
			<article class="col-xs-20 maincontent">
				<div class="container">
					<!-- Page header -->
					{% block page_header %}{% endblock %}
					
					<!-- Content -->
					{% block content %}{% endblock %}
				</div>
			</article>
		</div>
	</div>



	<!-- Footer -->
	<div id="cookieConsentBanner" class="hidden">
		<div id="cookieConsentContent text-center">
		  <p>Ce site utilise des cookies pour améliorer votre expérience. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies.</p>
		</div>
		<div id="cookieConsentButtons">
		  <button id="acceptCookiesButton">Accepter</button>
		  <a href="#" id="learnMoreButton">En savoir plus</a>
		</div>
	</div>
	  
	  
	  
	<footer id="footer" class="top-space">

		<!-- Footer 1 -->
		<div class="footer1">
			<div class="container">

				<!-- Row of widgets -->
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>
								Téléphone : <a href="tel:0130365291">01 30 36 52 91</a><br>
								E-mail : <a href="mailto:contact@coventgarden.fr">contact@coventgarden.fr</a>
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Adresse</h3>
						<div class="widget-body">
							<p>
 								<a href="https://goo.gl/maps/xwy7vnXwuFTFXfJA8" target="_blank">
 									1 Rue du Bouvreuil,<br>
 									Parc d'activité de la Danne<br>
 									95610, Eragny-sur-Oise
 								</a>
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Horaires</h3>
						<div class="widget-body">
							<p>
								Lundi - Vendredi : 16h - 00h<br>
								Samedi : 10h - 18h<br>
								Dimanche : 13h - 21h<br>
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title text">Réseaux sociaux</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a target="_blank" href="https://www.youtube.com/user/CoventGardenStudio"><i class="fa fa-youtube-play fa-2"></i></a>
								<a target="_blank" href="https://www.facebook.com/CGS95"><i class="fa fa-facebook fa-2"></i></a>
								<a target="_blank" href="https://www.instagram.com/coventgardenstudios/"><i class="fa fa-instagram fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /Row of widgets -->

			</div>
		</div> <!-- /Footer 1 -->
		
		<!-- Footer 2 -->
		<div class="footer2">
			<div class="container">

				<!-- Row of widgets -->
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{% url 'home' %}">Accueil</a> /
								<a href="{% url 'news' %}">Actualités</a> /
								<a href="{% url 'studios' %}">Studios</a> /
								<a href="{% url 'concert' %}">Concert</a> /
								<a href="{% url 'bar' %}">Bar</a> /
								<a href="{% url 'booking' %}">Réservation</a> /
								<a href="{% url 'contact' %}">Contact</a> /
								<a href="{% url 'eula' %}">CGU</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2023 Covent Garden Studios</a> 
							</p>
						</div>
					</div>
				</div> <!-- /Row of widgets -->

			</div>
		</div> <!-- /Footer 2 -->

	</footer>
	
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'studios/js/jquery.min.js' %}"></script>
	<script src="{% static 'studios/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'studios/js/headroom.min.js' %}"></script>
	<script src="{% static 'studios/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'studios/js/template.js' %}"></script>

	<script>
document.addEventListener("DOMContentLoaded", function() {
  var cookieConsentBanner = document.getElementById("cookieConsentBanner");
  var acceptCookiesButton = document.getElementById("acceptCookiesButton");
  var learnMoreButton = document.getElementById("learnMoreButton");

  // Vérifie si le cookie d'acceptation est déjà présent
  var isCookieAccepted = document.cookie.indexOf("cookieAccepted=true") !== -1;

  if (!isCookieAccepted) {
    cookieConsentBanner.classList.remove("hidden");
  }

  // Fonction pour accepter les cookies et masquer la bannière
  function acceptCookies() {
    cookieConsentBanner.classList.add("hidden");
    // Définir un cookie d'acceptation pour une durée de validité (par exemple, 30 jours)
    var expirationDate = new Date();
    expirationDate.setDate(expirationDate.getDate() + 30);
    document.cookie = "cookieAccepted=true; expires=" + expirationDate.toUTCString() + "; path=/";
  }

  acceptCookiesButton.addEventListener("click", acceptCookies);

  // Fonction pour gérer l'action "En savoir plus" (à personnaliser selon vos besoins)
  function learnMore() {
    // Ajoutez ici votre logique pour rediriger l'utilisateur vers une page d'informations supplémentaires sur les cookies
    console.log("Redirection vers la page d'informations sur les cookies");
  }

  learnMoreButton.addEventListener("click", learnMore);
});
	</script>


	<!-- Custom JavaSript for our template -->
	{% block scripts %}{% endblock %}
</body>

</html>
